<div class="component-wrapper">

  <div class="dashboard-wrapper" [ngClass]="{ 'sidenav-is-open': sidenavIsOpen }">

    <div class="charts-row">
      <div class="chart-container">
        <any-line-chart></any-line-chart>
      </div>
      <div class="chart-container">
        <any-pie-chart></any-pie-chart>
      </div>
      <div class="chart-container">
        <any-bar-chart></any-bar-chart>
      </div>
      <div class="chart-container">
        <any-pie-chart></any-pie-chart>
      </div>
      <div class="chart-container">
        <any-line-chart></any-line-chart>
      </div>
      <div class="chart-container">
        <any-bar-chart></any-bar-chart>
      </div>
      <div class="chart-container">
        <any-bar-chart></any-bar-chart>
      </div>
      <div class="chart-container">
        <any-line-chart></any-line-chart>
      </div>
      <div class="chart-container">
        <any-pie-chart></any-pie-chart>
      </div>
      <div class="chart-container">
        <any-pie-chart></any-pie-chart>
      </div>
      <div class="chart-container">
        <any-bar-chart></any-bar-chart>
      </div>
      <div class="chart-container">
        <any-pie-chart></any-pie-chart>
      </div>
      <div class="chart-container">
        <any-line-chart></any-line-chart>
      </div>
      <div class="chart-container">
        <any-bar-chart></any-bar-chart>
      </div>
    </div>

  </div>

</div>


