

$flex-row-with-content-padding: 40px;
$flex-row-with-content-padding-total: calc($flex-row-with-content-padding * 2);

$subtitle-font-family: 'NEOTERIC';
$menu-subheader-font-family: 'NEOTERIC';
$small-screen-cutoff: 850px;
$small-screen-height-cutoff: 410px;
$small-screen-cutoff-plus-1: 851px;

$screen-min-width: 250px;