mat-card {
  margin-left: auto;
  margin-right: auto;
  mat-card-content {
    padding-bottom: 15px;
  }
}

mat-card-footer {
  .footer-success-message {
    padding: 15px;
    font-size: 20px;
  }
}

.add-button {
  margin-left: 15px; 
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 22px;
  font-size: 20px;

  mat-icon {
    height: 38px;
    width: 38px;
    font-size: 36px;
  }
}