.device-type-header {
  display: flex;
  flex: 0;
  width: 100%;
  justify-content: center;
}

.device-type-info {
  display: flex;
  flex: 0;
  width: 100%;
  justify-content: center;
}

.device-info {
  display: flex;
  flex: 0;
  width: 100%;
  text-align: center;
  flex-direction: column;
}

