@use 'sass:map';
@use '@angular/material' as mat;

@mixin album-card-dark-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $warn-palette: map.get($color-config, 'warn');

}

@mixin album-card-light-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $warn-palette: map.get($color-config, 'warn');


  .album-card-image-container {
    box-shadow: 2px 3px 13px 3px mat.get-color-from-palette($accent-palette, 200);
  }

}