<mat-card>
  <mat-card-header>
    <div class="artist-header-row">
      <div class="artist-name"><span class="label">artist:</span> {{artist.name}}</div>
      <div class="spacer"></div>
      <div class="artist-id"><span class="label">id:</span> {{artist.id}}</div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="flex-row artist-bio">
      <p class="label">About the artist:</p>
      <p>{{artist.bio}}</p>
    </div>
    <div class="flex-row">
      <div class="artist-content-wrapper discography-wrapper">
        <div *ngFor="let album of artist.albums" class="artist-album-wrapper">
          <any-album-card [album]="album"></any-album-card>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>